@import url('/css/settings.css');
@import url('/css/header.css');
@import url('/css/footer.css');

.news-item__date,
.news-item__content {
    font-size: 20px;
    line-height: 1.76;
    color: #1f1f1f;
}

.news-item__title {
    margin-bottom: 42px;
}

.news-item__slider {
    border-radius: 22px;
    height: 614px;
    margin-bottom: 46px;
}

.news-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.news-item__content {
    margin-bottom: 73px;
}

.swiper-navigation {
    display: flex;
    gap: 20px;
    position: absolute;
    z-index: 9;
    bottom: 33px;
    right: 13px;
    background-color: #4e0f8d;
    border-radius: 40px;
    padding: 14px 21px;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    top: 0;
    left: 0;
    flex-shrink: 0;
    transition: .3s;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    background-repeat: no-repeat;
    width: 14px;
    height: 15px;
    display: block;
}

.swiper-button-prev::after {
    background-image: url('/images/slider-prev.svg');
    transform: rotate(-90deg);
}

.swiper-button-next::after {
    background-image: url('/images/slider-next.svg');
    transform: rotate(-90deg);
}

@media (max-width: 1024px) {
    .news-item__title {
        font-size: 42px;
    }

    .news-item__slider {
        height: 576px;
    }
}

@media (max-width: 768px) {
    .news-item__title {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .news-item__date,
    .news-item__content {
        font-size: 18px;
    }

    .news-item__slider {
        height: 476px;
        margin-bottom: 36px;
    }

    .news-item__content {
        margin-bottom: 48px;
    }
}

@media (max-width: 575px) {
    .news-item__title {
        font-size: 24px;
    }

    .news-item__slider {
        height: 376px;
    }

    .swiper-button-prev, 
    .swiper-button-next {
        width: 36px;
        height: 36px;
    }

    .news-item__date,
    .news-item__content {
        font-size: 16px;
    }

    .news-item__content {
        margin-bottom: 30px;
    }
}

@media (max-width: 425px) {
    .swiper-navigation {
       display: none;
    }
}