@import url('/css/settings.css');
@import url('/css/header.css');
@import url('/css/footer.css');

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #9b44f2;
    border-radius: 5px;
    padding: 16px 35px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.7;
    margin-top: auto;
    cursor: pointer;
}

.events {
    margin-bottom: 80px;
}

.events__title {
    margin-bottom: 36px;
}

.events__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 31px;
}

.events-item {
    height: 100%;
    min-height: 636px;
}

.events-item__link {
    display: flex;
    align-items: flex-end;
    border-radius: 22px;
    height: 100%;
    padding: 38px;
}

.events-item__content {
    color: #fff;
}

.events-item__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 18px;
}

.events-item__desc {
    font-weight: 500;
}

.events-item__desc span {
    text-decoration: underline;
}


@media (max-width: 1024px) {
    .events__title {
        font-size: 42px;
    }

    .events__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .events {
        margin-bottom: 55px;
    }

    .events__title {
        font-size: 36px;
    }

    .events__list {
        gap: 20px;
    }

    .events-item {
        min-height: 426px;
    }

    .events-item__link {
        padding: 24px;
    }

    .events-item__title {
        font-size: 20px;
    }

    .events-item__desc {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .events {
        margin-bottom: 40px;
    }

    .events__title {
        font-size: 24px;
    }

    .events__list {
        grid-template-columns: 1fr;
    }

    .events-item {
        min-height: 376px;
    }

    .events-item__title {
        font-size: 18px;
    }

    .events-item__desc {
        font-size: 12px;
    }
}