@import url('/css/settings.css');
@import url('/css/header.css');
@import url('/css/footer.css');

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #9b44f2;
    border-radius: 5px;
    padding: 16px 35px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.7;
    margin-top: auto;
    cursor: pointer;
}

.join-form {
    margin-bottom: 70px;
}

.block-form {
    background-color: #4e0f8d;
    border-radius: 22px;
    padding: 25px 82px 55px 75px;
}

.block-form__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.block-form__top::after {
    content: '';
    background: url('../images/enter.svg') no-repeat;
    background-size: contain;
    flex-basis: 602px;
    height: 508px;
    display: block;
}

.block-form__wrapper {
    flex-basis: 639px;
}

.block-form__title {
    margin-bottom: 38px;
    color: #fff;
}

.block-form__input,
.block-form__textarea {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #d7aeff;
    border-radius: 15px;
    padding: 33px 28px 30px;
    background-color: transparent;
    color: #dbd8df;
}

.block-form__input::placeholder {
    color: #dbd8df;
}

.block-form__input_sm {
    width: 156px;
}

.block-form__input:not(:last-child) {
    margin-bottom: 15px;
}

.block-form__fields-wrapper {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.block-form__fields-wrapper .block-form__input {
    margin-bottom: 0;
}

.block-form__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.block-form__btn {
    font-size: 32px;
    font-weight: 500;
    background-color: #d63751;
    border-radius: 5px;
    padding: 24px 35px;
    line-height: 1;
    border: 0;
    margin-top: 0;
    transition: background-color .3s;
}

.block-form__btn:hover {
    background-color: #c3344b;
}


@media (max-width: 1024px) {
    .block-form {
        padding: 25px 70px 40px 70px;
    }

    .block-form__top::after {
        content: none;
    }

    .block-form__wrapper {
        flex-basis: auto;
        width: 100%;
    }

    .block-form__input,
    .block-form__textarea {
        padding: 24px 27px;
    }

    .btn {
        padding: 6px 35px;
    }

    .block-form__btn {
        font-size: 24px;
        padding: 18px 35px;
    }
}

@media (max-width: 768px) {
    .join-form {
        margin-bottom: 50px;
    }

    .block-form {
        padding: 25px 35px;
    }

    .block-form__input,
    .block-form__textarea {
        font-size: 18px;
        padding: 16px;
    }

    .block-form__textarea {
        margin-bottom: 40px;
    }

    .block-form__file-btn {
        font-size: 16px;
    }

    .block-form__file-btn::before {
        width: 24px;
        height: 24px;
    }

    .block-form__btn {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .block-form__fields-wrapper {
        flex-direction: column;
    }

    .block-form__input_sm {
        width: auto;
    }
}

@media (max-width: 425px) {
    .join-form {
        margin-bottom: 30px;
    }

    .block-form__file-btn {
        padding: 6px 30px;
    }

    .block-form {
        padding: 25px;
    }

    .block-form__title {
        margin-bottom: 31px;
    }

    .block-form__input,
    .block-form__textarea {
        font-size: 16px;
    }
}