@import url('/css/settings.css');
@import url('/css/header.css');
@import url('/css/footer.css');

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #9b44f2;
    border-radius: 5px;
    padding: 16px 35px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.7;
    margin-top: auto;
    cursor: pointer;
}

.rating__title {
    margin-bottom: 53px;
}

.rating__title span {
    color: #4e0f8d;
}

.rating__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    counter-reset: rating;
    margin-bottom: 102px;
}

.item-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f1ebf6;
    border-radius: 22px;
    padding: 30px 55px 30px 36px;
}

.item-rating::before {
    counter-increment: rating;
    content: counter(rating)".";
    font-size: 32px;
    font-weight: 700;
    color: #1a1a1a;
    display: block;
    margin-right: 23px;
}

.item-rating__img {
    width: 112px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 71px;
}

.item-rating__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.item-rating__fio {
    font-size: 32px;
    font-weight: 500;
    color: #1a1a1a;
    display: block;
    width: 100%;
    max-width: 404px;
    text-align: center;
}

.item-rating__faculty {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #4e0f8d;
    width: 100%;
    max-width: 695px;
    word-break: break-word;
}

.item-rating__scores {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-left: auto;
}

.item-rating__scores-text {
    display: block;
    color: #939097;
}

.item-rating__scores-value {
    font-size: 32px;
    font-weight: 700;
    color: #1a1a1a;
    display: block;
}



@media (max-width: 1024px) {
    .item-rating {
        padding: 30px 36px;
    }

    .item-rating__content {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .rating__list {
        margin-bottom: 70px;
    }

    .item-rating {
        padding: 24px;
    }

    .item-rating::before {
        font-size: 24px;
    }

    .item-rating__img {
        margin-right: 20px;
    }

    .item-rating__fio,
    .item-rating__scores-value {
        font-size: 24px;
    }

    .item-rating__faculty {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .rating__list {
        margin-bottom: 40px;
    }

    .item-rating {
        padding: 20px;
    }

    .item-rating::before {
        margin-right: 10px;
    }
}

@media (max-width: 425px) {
    .item-rating {
        flex-direction: column;
    }

    .item-rating__img {
        margin-right: 0;
    }
}