@import url('/css/settings.css');
@import url('/css/header.css');
@import url('/css/footer.css');

.news__slider {
    position: relative;
    margin: 90px 0;
    height: 522px;
}

.news__slider::before {
    content: '';
    width: 100%;
    height: 20px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.news-slide {
    display: flex;
    align-items: flex-end;
    font-size: 32px;
    color: #fff;
    border-radius: 20px;
    padding: 0 0 120px 100px;
    height: 100%;
    z-index: 50;
    background-position: center;
}

.news-slide__content {
    max-width: 80%;
}

.news-slide__title {
    font-size: 64px;
    margin-bottom: 14px;
}

.news-slide__desc {
    font-size: 20px;
    font-weight: 500;
}

.swiper-3d .swiper-slide-shadow {
    border-radius: 22px;
}

.swiper-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    top: 0;
    transform: none;
    right: 0;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.swiper-pagination-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 9%;
    width: 48px;
    right: 37px;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative;
    width: 37px;
    height: 37px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    top: 0;
    left: 0;
    flex-shrink: 0;
    transition: .3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    width: 48px;
    height: 48px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    background-repeat: no-repeat;
    width: 14px;
    height: 15px;
    display: block;
}

.swiper-button-prev::after {
    background-image: url('/images/slider-prev.svg');
}

.swiper-button-next::after {
    background-image: url('/images/slider-next.svg');
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #9b44f2;
}

.block-sections {
    margin-bottom: 53px;
}

.block-sections__list {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr;
    grid-template-rows: repeat(3, 368px);
    grid-template-areas: 
        "about structure calendar"
        "about idea idea"
        "projects rating enter";
    gap: 22px;
}

.section-item {
    position: relative;
    background-color: #4e0f8d;
    color: #fff;
    border-radius: 22px;
    padding: 32px 45px;
}

.section-item__content {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 288px;
    gap: 5px;
}

.section-item__title {
    font-size: 36px;
    margin-bottom: 14px;
}

.section-item__title_large {
    font-size: 64px;
}

.section-item__desc {
    width: 90%;
    line-height: 1.76;
}

.section-item__desc-item {
    font-size: 20px;
    font-weight: 500;
}

.section-item__desc-item:not(:last-child) {
    margin-bottom: 35px;
}

.section-item__btn {
    display: inline-block;
    border: 1px solid #9b44f2;
    border-radius: 5px;
    padding: 0 35px;
    color: #fff;
    font-size: 20px;
    line-height: 2.7;
    align-self: start;
    margin-top: auto;
}

.section-item_about {
    padding-top: 83px;
    grid-area: about;
    position: relative;
    z-index: 15;
}

.section-item_about .section-item__title {
    margin-bottom: 30px;
}

.section-item_about::before {
    content: '';
    background: url('/images/about.svg') no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    z-index: -1;
}

.section-item_structure {
    grid-area: structure;
}

.section-item_structure::after {
    content: '';
    background: url('/images/stucture.svg') no-repeat;
    width: 271px;
    height: 271px;
    display: block;
    position: absolute;
    top: -5px;
    right: -20px;
}

.section-item_calendar {
    grid-area: calendar;
}

.section-item_calendar::after {
    content: '';
    background: url('/images/calendar.svg') no-repeat;
    width: 271px;
    height: 271px;
    display: block;
    position: absolute;
    top: -5px;
    right: -20px;
}

.section-item_idea {
    grid-area: idea;
}

.section-item_idea::after {
    content: '';
    background: url('/images/idea.svg') no-repeat;
    width: 311px;
    height: 311px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.section-item_idea .section-item__content {
    max-width: 660px;
}

.section-item_idea .section-item__title {
    font-size: 64px;
}

.section-item_projects {
    grid-area: projects;
}

.section-item_projects::after {
    content: '';
    background: url('/images/projects.svg') no-repeat;
    width: 271px;
    height: 295px;
    display: block;
    position: absolute;
    top: 0;
    right: -14px;
}

.section-item_rating {
    grid-area: rating;
}

.section-item_rating::after {
    content: '';
    background: url('/images/rating.svg') no-repeat;
    width: 271px;
    height: 295px;
    display: block;
    position: absolute;
    top: 0;
    right: -14px;
}

.section-item_enter {
    grid-area: enter;
}

.section-item_enter::after {
    content: '';
    background: url('/images/enter.svg') no-repeat;
    width: 271px;
    height: 295px;
    display: block;
    position: absolute;
    top: 0;
    right: 8px;
}


@media (max-width: 1200px) {
    .section-item::after {
        opacity: .8;
    }

    .section-item__desc {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .news-slide {
        padding: 0 0 80px 60px;
    }

    .news-slide__title {
        font-size: 52px;
    }
    
    .news-slide__desc {
        font-size: 18px;
    }
}
