@font-face {
    font-family: "Geometria";
    src: url('fonts/Geometria-Regular.woff2') format('woff2'),
        url('fonts/Geometria-Regular.woff') format('woff');
    font-weight: 400;
    display: swap;
}

@font-face {
    font-family: "Geometria";
    src: url('fonts/Geometria-Medium.woff2') format('woff2'),
        url('fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    display: swap;
}

@font-face {
    font-family: "Geometria";
    src: url('fonts/Geometria-Bold.woff2') format('woff2'),
        url('fonts/Geometria-Bold.woff') format('woff');
    font-weight: 700;
    display: swap;
}

*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; max-width: 100%;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

body {
    font-family: "Geometria", sans-serif;
}

.container {
    max-width: 1565px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 70px 0;
}

.header__nav {
    margin-bottom: 60px;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.header__nav-link {
    font-size: 32px;
    font-weight: 700;
    color: #420b7a;
    display: block;
    text-transform: uppercase;
}

.header__nav-link::after {
    content: '';
    background-color: #420b7a;
    width: 0%;
    height: 2px;
    display: block;
    transition: width .3s;
}

.header__nav-link:hover::after {
    width: 100%;
}

.news__slider {
    position: relative;
    margin: 90px 0;
    height: 522px;
}

.news__slider::before {
    content: '';
    width: 100%;
    height: 20px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.news-slide {
    display: flex;
    align-items: flex-end;
    font-size: 32px;
    color: #fff;
    border-radius: 20px;
    padding: 0 0 120px 100px;
    height: 100%;
    z-index: 50;
    background-position: center;
}

.news-slide__content {
    max-width: 80%;
}

.news-slide__title {
    font-size: 64px;
    margin-bottom: 14px;
}

.news-slide__desc {
    font-size: 20px;
    font-weight: 500;
}

.swiper-3d .swiper-slide-shadow {
    border-radius: 22px;
}

.swiper-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    top: 0;
    transform: none;
    right: 0;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.swiper-pagination-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 9%;
    width: 48px;
    right: 37px;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative;
    width: 37px;
    height: 37px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    top: 0;
    left: 0;
    flex-shrink: 0;
    transition: .3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    width: 48px;
    height: 48px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    background-repeat: no-repeat;
    width: 14px;
    height: 15px;
    display: block;
}

.swiper-button-prev::after {
    background-image: url('/images/slider-prev.svg');
}

.swiper-button-next::after {
    background-image: url('/images/slider-next.svg');
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #9b44f2;
}

.block-sections {
    margin-bottom: 53px;
}

.block-sections__list {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr;
    grid-template-rows: repeat(3, 368px);
    grid-template-areas: 
        "about structure calendar"
        "about idea idea"
        "projects rating enter";
    gap: 22px;
}

.section-item {
    position: relative;
    background-color: #4e0f8d;
    color: #fff;
    border-radius: 22px;
    padding: 32px 45px;
}

.section-item__content {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 288px;
}

.section-item__title {
    font-size: 36px;
    margin-bottom: 14px;
}

.section-item__title_large {
    font-size: 64px;
}

.section-item__desc {
    width: 90%;
    line-height: 1.76;
}

.section-item__desc-item {
    font-size: 20px;
    font-weight: 500;
}

.section-item__desc-item:not(:last-child) {
    margin-bottom: 35px;
}

.section-item__btn {
    display: inline-block;
    border: 1px solid #9b44f2;
    border-radius: 5px;
    padding: 0 35px;
    color: #fff;
    font-size: 20px;
    line-height: 2.7;
    align-self: start;
    margin-top: auto;
}

.section-item_about {
    padding-top: 83px;
    grid-area: about;
    position: relative;
    z-index: 15;
}

.section-item_about .section-item__title {
    margin-bottom: 30px;
}

.section-item_about::before {
    content: '';
    background: url('/images/about.svg') no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    z-index: -1;
}

.section-item_structure {
    grid-area: structure;
}

.section-item_structure::after {
    content: '';
    background: url('/images/stucture.svg') no-repeat;
    width: 271px;
    height: 271px;
    display: block;
    position: absolute;
    top: -5px;
    right: -20px;
}

.section-item_calendar {
    grid-area: calendar;
}

.section-item_calendar::after {
    content: '';
    background: url('/images/calendar.svg') no-repeat;
    width: 271px;
    height: 271px;
    display: block;
    position: absolute;
    top: -5px;
    right: -20px;
}

.section-item_idea {
    grid-area: idea;
}

.section-item_idea::after {
    content: '';
    background: url('/images/idea.svg') no-repeat;
    width: 311px;
    height: 311px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.section-item_idea .section-item__content {
    max-width: 660px;
}

.section-item_idea .section-item__title {
    font-size: 64px;
}

.section-item_projects {
    grid-area: projects;
}

.section-item_projects::after {
    content: '';
    background: url('/images/projects.svg') no-repeat;
    width: 271px;
    height: 295px;
    display: block;
    position: absolute;
    top: 0;
    right: -14px;
}

.section-item_rating {
    grid-area: rating;
}

.section-item_rating::after {
    content: '';
    background: url('/images/rating.svg') no-repeat;
    width: 271px;
    height: 295px;
    display: block;
    position: absolute;
    top: 0;
    right: -14px;
}

.section-item_enter {
    grid-area: enter;
}

.section-item_enter::after {
    content: '';
    background: url('/images/enter.svg') no-repeat;
    width: 271px;
    height: 295px;
    display: block;
    position: absolute;
    top: 0;
    right: 8px;
}

.footer__content {
    border: 1px solid #9b44f2;
    border-radius: 22px;
    padding: 58px 42px 36px;
}

.footer__logo {
    width: 205px;
    height: 41px;
    margin-bottom: 34px;
}

.footer-data {
    margin-bottom: 40px;
}

.footer-data__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.data-item__label {
    display: block;
    font-weight: 500;
    color: #a8a8a8;
}

.data-item__value {
    font-size: 24px;
    font-weight: 500;
    color: #151515;
}

address.data-item__value {
    max-width: 875px;
    font-style: normal;
}

.social__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 33px;
}

.social-item {
    flex-grow: 1;
    cursor: pointer;
}

.social-item__link {
    display: flex;
    align-items: center;
    gap: 72px;
    padding: 20px 26px;
    border-radius: 15px;
    transition: background-color .3s;
}

.social-item_vk .social-item__link {
    background-color: #4077a9;
}

.social-item_vk:hover .social-item__link {
    background-color: #376895;
}

.social-item_telegram .social-item__link {
    background-color: #45abe4;
}

.social-item_telegram:hover .social-item__link {
    background-color: #429fd3;
}

.social-item__label {
    display: flex;
    align-items: center;
    gap: 27px;
    font-weight: 500;
    color: #6eaae1;
    cursor: pointer;
}

.social-item_telegram .social-item__label {
    color: #80d1ff;
}

.social-item__label::before {
    content: '';
    background-repeat: no-repeat;
    display: block;
}

.social-item_vk .social-item__label::before {
    width: 37px;
    height: 37px;
    background-image: url('/images/vk.svg');
}

.social-item_telegram .social-item__label::before {
    width: 41px;
    height: 41px;
    background-image: url('/images/telegram.svg');
}

.social-item__text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}